# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Python (pokud někdy přidáš generování)
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Temporary files
*.tmp
*.log

# Optional exports
export/
build/
dist/
/_/
